html, body {
  margin: auto;
  background-color: rgb(242, 200, 103);
}
canvas {
  display:flex;
}
main{
  margin:auto;
  width:800px;

  color: rgb(127, 33, 38);
}

nav{
  padding:10px 3%;
}

a{
  color:rgb(127, 33, 38);
}

header{
  font-size: 20px;
  color:rgb(127, 33, 38);
  text-align: center;
}